{% extends "/admin/layout.html" %}
{% block content %}
  <title>CekCV - Pricing Transaction</title>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">List Transaction</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="pricing_transaction.html">Transaction</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <h4 class="card-title">List Transaction</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap v-middle mb-0 table-striped table-hover">
                            <thead>
                                <tr class="border-0">
                                    <th class="border-0 font-14 font-weight-medium text-muted">No</th>
                                    <th class="border-0 font-14 font-weight-medium text-muted">Nama</th>
                                    <th class="border-0 font-14 font-weight-medium text-muted">Metode</th>
                                    <th class="border-0 font-14 font-weight-medium text-muted">Status</th>
                                    <th class="border-0 font-14 font-weight-medium text-muted">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if pricing_transaction %}
                                    {% for transaction in pricing_transaction %}
                                        <tr>
                                            <td class="border-top-0 text-dark py-4 font-14">{{ loop.index }}</td>
                                            <td class="border-top-0 text-dark py-4 font-14">{{ transaction['nama'] }}</td>
                                            <td class="border-top-0 text-dark py-4 font-14">{{ transaction['metode'] }}</td>
                                            <!-- <td class="border-top-0 text-dark py-4 font-14">{{ transaction['bukti_transfer'] }}</td> -->

                                            <td class="border-top-0 text-dark py-4 font-14">
                                                <form action="{{ url_for('update_status_transaction', transaction_id=transaction['id']) }}" method="POST" style="display: inline;">
                                                    <div class="input-group input-group-sm">
                                                        <select name="status" class="form-control text-white {% if transaction['status'] == 'pending' %}bg-warning{% else %}bg-success{% endif %}" onchange="this.form.submit()">
                                                            <option value="pending" {% if transaction['status'] == 'pending' %}selected{% endif %}>Pending</option>
                                                            <option value="paid" {% if transaction['status'] == 'paid' %}selected{% endif %}>Paid</option>
                                                        </select>
                                                    </div>
                                                </form>
                                <td>
  <form method="POST" action="{{ url_for('delete_transaction', transaction_id=transaction['id']) }}" onsubmit="return confirm('Yakin ingin menghapus data ini?');">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
  </form>
</td>

                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center">Tidak ada data.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
