{% extends "main_layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRICING PLUS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scan.css') }}">
</head>
<body>
    <div class="scan__input">
        <br><br>
        <h1 class="title">PRICING PRO</h1>
        <p>Silahkan Email ke Admin untuk Berlangganan PRO</p>
        <p>admin@gmail.com</p>
        <br><br>
       
    </div>
</body>
</html>
{% endblock %}
